<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/transactions" [routerLinkActiveOptions]="{exact: true}">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/positions" [routerLinkActiveOptions]="{exact: true}">Positions</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
